<div class="mt-4">
    <h3>Edit courses</h3>
    <form class="mt-4" method="POST" action="/courses/{{Course._id}}?_method=PUT"> 
        <div class="mb-3">
            <label for="name">Tên khóa học</label>
            <input type="" class="form-control" value="{{Course.name}}" name="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="description">Mô tả khóa học</label>
            <textarea  class="form-control" name="description" aria-describedby="emailHelp">{{Course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId">URL video</label>
            <input type="" class="form-control" value="{{Course.videoId}}" name="videoId" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="level">Trình độ</label>
            <input type="" class="form-control" value="{{Course.level}}" name="level" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Chỉnh sửa khóa học</button>
    </form>
</div>