

<div class="mt-4">
    <h3>Khóa học của tôi</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col">Hành động</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each Courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal" class="btn btn-link">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>  
    </table> 
</div>

{{!-- Confirm_delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger btn-delete-course">Xóa</button>
      </div>
    </div>
  </div>
</div>

{{!-- DeleteForm --}}

<form name="delete-form" method="POST" action=""></form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        
        var courseId;
        var deleteForm=document.forms['delete-form'];
        var btnDeleteCourse=document.querySelector('.btn-delete-course');

        $('#delete-course-modal').on('show.bs.modal',(event)=>{
            var button=$(event.relatedTarget);
            courseId=button.data('id');
        })
        btnDeleteCourse.onclick= ()=>{
            deleteForm.action='/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        }

    })
</script>