

<div class="mt-4">
  <div>
    <h3>Khóa học đã xóa</h3>
    <a href="/user/stored/courses">Danh sách khóa học</a>
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col">Hành động</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each Courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                <a href="" data-id="{{this._id}}" data-index="{{@index}}" class="btn btn-link btn-restore">Khôi phục</a>
                    <a href="" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal" class="btn btn-link">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác rỗng.
                    <a href="/user/stored/courses">Danh sách khóa học tại đây</a>
                </td>
            </tr>
            {{/each}}
        </tbody>  
    </table> 
</div>

{{!-- Confirm_delete --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa vĩnh viễn khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger btn-delete-course">Xóa vĩnh viễn </button>
      </div>
    </div>
  </div>
</div>

{{!-- DeleteForm --}}

<form name="delete-form" method="POST" action=""></form>
<form action="" name="restore-form" method="POST"></form>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded',()=>{
        
        var courseId;
        var deleteForm=document.forms['delete-form'];
        var restoreForm=document.forms['restore-form'];
        var btnDeleteCourse=document.querySelector('.btn-delete-course');
    
        $('#delete-course-modal').on('show.bs.modal',(event)=>{
            var button=$(event.relatedTarget);
            courseId=button.data('id');
        })
        btnDeleteCourse.onclick= ()=>{
            deleteForm.action='/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }
        // restore 
        $(document).ready(function(){
          $(".btn-restore").click(function(e){
              e.preventDefault();
              var courseId=$(this).data('id');
              console.log(courseId);
              restoreForm.action='/courses/' +courseId +'/restore?_method=PATCH';
              restoreForm.submit();
        });
        })

    })
</script>